/* .charsheet 
{
	background-image			: url('https://raw.githubusercontent.com/Hylun-Git/Roll20_test_img/main/Character_sheet_0.png');
   background-repeat			: no-repeat;
   background-attachment	: absolute;
   background-size			: 100% 100%;
	height						: 804px;
	width							: 1135px;
} */

/*Configure the tab buttons*/
.charsheet .sheet-character,
.charsheet .sheet-backpack {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="backpack"] ~ div.sheet-backpack {
    display: block;
}

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-custom {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom {
  margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container {
  border: 1px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header {
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 5px;
}
.sheet-rolltemplate-custom .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-custom .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(112,32,130,1);
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

/* Empty rule, use this if you want to change the right column 
.sheet-rolltemplate-custom .sheet-value {
}
*/

/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

button.character_btn
{
	position						: absolute;
	top							: 60px;
	left							: 0px;
	width							: 100px;
}
button.backpack_btn
{
	position						: absolute;
	top							: 60px;
	left							: 155px;
	width							: 100px;
}

div.sheet-character
{
   background-image			: url('https://raw.githubusercontent.com/Hylun-Git/Roll20_test_img/main/Character_sheet_0_invNervEnr.png');
   background-repeat			: no-repeat;
   background-attachment	: absolute;
	background-size			: 1135px 804px;
	height						: 804px;
	width							: 1135px;
	top							: 0px;
	left							: 0px;
}

div.sheet-backpack
{
   background-image			: url('https://raw.githubusercontent.com/Hylun-Git/Roll20_test_img/main/Character_sheet_1.png');
   background-repeat			: no-repeat;
   background-attachment	: absolute;
	background-size			: 1135px 804px;
	height						: 804px;
	width							: 1135px;
	top							: 0px;
	left							: 0px;
}

/*    CHARACTER CSS     */

input.Character_name
{
   position 	: absolute;
   left     	: 80px;	/*50*/
   top      	: 252px; /*156*/
   width    	: 233px;
	text-align	: center;
	font-size	: 23px;
}

input.Character_level
{
   position 	: absolute;
   left     	: 330px;
   top      	: 252px;
   width    	: 57px;
	text-align	: center;
}

input.Character_XP
{
   position : absolute;
   left     : ;
   top      : ;
   width    : ;
}

/*    STATS CSS         */

input.Stats_STR
{
   position 	: absolute;
   left     	: 92px;
   top      	: 358px;
   width    	: 40px;
	text-align	: center;
	font-size	: 23px;
}
button.Roll_STR
{
	position		: absolute;
	left			: 97px;
	top			: 395px;
}

input.Stats_DEX
{
   position 	: absolute;
   left     	: 167px;
   top      	: 358px;
   width    	: 40px;
	text-align	: center;
	font-size	: 23px;
}
button.Roll_DEX
{
	position		: absolute;
	left			: 172px;
	top			: 395px;
}

input.Stats_CON
{
   position 	: absolute;
   left     	: 242px;
   top      	: 358px;
   width    	: 40px;
	text-align	: center;
	font-size	: 23px;
}
button.Roll_CON
{
	position		: absolute;
	left			: 247px;
	top			: 395px;
}

input.Stats_WIL
{
   position 	: absolute;
   left     	: 317px;
   top      	: 358px;
   width    	: 40px;
	text-align	: center;
	font-size	: 23px;
}
button.Roll_WIL
{
	position		: absolute;
	left			: 322px;
	top			: 395px;
}

input.Stats_INT
{
   position 	: absolute;
   left     	: 393px;
   top      	: 358px;
   width    	: 40px;
	text-align	: center;
	font-size	: 23px;
}
button.Roll_INT
{
	position		: absolute;
	left			: 397px;
	top			: 395px;
}

input.Stats_CHA
{
   position 	: absolute;
   left     	: 468px;
   top      	: 358px;
   width    	: 40px;
	text-align	: center;
	font-size	: 23px;
}
button.Roll_CHA
{
	position		: absolute;
	left			: 472px;
	top			: 395px;
}

/*    STRESS CSS        */

input.Stress_StrLevel
{
   position 	: absolute;
   left     	: 87px;
   top      	: 443px;
   width    	: 40px;
	text-align	: center;
	font-size	: 21px;
}

input.Stress_NervTic
{
   position : absolute;
   left     : 145px;
   top      : 456px;
   width    : 189px;
}

input.Stress_ObsNegTrait
{
   position : absolute;
   left     : 87px;
   top      : 500px;
   width    : 246px;
   height   : 100px;
}

/*    STATUS CSS        */

input.Stamina
{
	position		: absolute;
	left			: 504px;
	top			: 439px;
	width			: 28px;
	height		: 28px;
	text-align	: center;
}

input.Trauma
{
	position		: absolute;
	left			: 504px;
	top			: 481px;
	width			: 28px;
	height		: 28px;
	text-align	: center;
}

input.Luck
{
	position		: absolute;
	left			: 504px;
	top			: 523px;
	width			: 28px;
	height		: 28px;
	text-align	: center;
}

input.Armor
{
	position		: absolute;
	left			: 362px;
	top			: 609px;
	width			: 47px;
	height		: 29px;
	text-align	: center;
}

input.Rads
{
	position		: absolute;
	left			: 443px;
	top			: 609px;
	width			: 33px;
	height		: 29px;
	text-align	: center;
}

input.Wounds
{
	position		: absolute;
	left			: 188px;
	top			: 681px;
	width			: 27px;
	height		: 15px;
	text-align	: center;
}

/*    SKILL CSS         */

input.Skill_ArTech
{
   position 	: absolute;
   left     	: 578px;
   top      	: 198px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_ArTech
{
	position		: absolute;
	left			: 550px;
	top			: 198px;
}

input.Skill_ClComb
{
   position 	: absolute;
   left     	: 578px;
   top      	: 233px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_ClComb
{
	position		: absolute;
	left			: 550px;
	top			: 233px;
}

input.Skill_Percept
{
   position 	: absolute;
   left     	: 578px;
   top      	: 268px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Percept
{
	position		: absolute;
	left			: 550px;
   top      	: 268px;
}

input.Skill_Manipul
{
   position 	: absolute;
   left     	: 578px;
   top      	: 303px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Manipul
{
	position		: absolute;
	left			: 550px;
   top      	: 303px;
}

input.Skill_MedAid
{
   position 	: absolute;
   left     	: 578px;
   top      	: 338px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_MedAid
{
	position		: absolute;
	left			: 550px;
   top      	: 338px;
}

input.Skill_Pilot
{
   position 	: absolute;
   left     	: 578px;
   top      	: 373px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Pilot
{
	position		: absolute;
	left			: 550px;
   top      	: 373px;
}

input.Skill_RaComb
{
   position 	: absolute;
   left     	: 578px;
   top      	: 408px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_RaComb
{
	position		: absolute;
	left			: 550px;
   top      	: 408px;
}

input.Skill_Resolve
{
   position 	: absolute;
   left     	: 578px;
   top      	: 443px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Resolve
{
	position		: absolute;
	left			: 550px;
   top      	: 443px;
}

input.Skill_Science
{
   position 	: absolute;
   left     	: 578px;
   top      	: 478px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Science
{
	position		: absolute;
	left			: 550px;
   top      	: 478px;
}

input.Skill_Stealth
{
   position 	: absolute;
   left     	: 578px;
   top      	: 513px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Stealth
{
	position		: absolute;
	left			: 550px;
   top      	: 513px;
}

input.Skill_Survival
{
   position 	: absolute;
   left     	: 578px;
   top      	: 548px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Survival
{
	position		: absolute;
	left			: 550px;
   top      	: 548px;
}

input.Skill_Techno
{
   position 	: absolute;
   left     	: 578px;
   top      	: 583px;
   width    	: 25px;
   height   	: 24px;
	text-align	: center;
}
button.Roll_Techno
{
	position		: absolute;
	left			: 550px;
   top      	: 583px;
}

input.Talent_0
{
   position : absolute;
   left     : 878px;
   top      : 309px;
   width    : 202px;
   height   : 25px;
}

input.Talent_1
{
   position : absolute;
   left     : 878px;
   top      : 345px;
   width    : 202px;
   height   : 25px;
}

input.Talent_2
{
   position : absolute;
   left     : 878px;
   top      : 381px;
   width    : 202px;
   height   : 25px;
}

input.Talent_3
{
   position : absolute;
   left     : 878px;
   top      : 417px;
   width    : 202px;
   height   : 25px;
}

input.Talent_4
{
   position : absolute;
   left     : 878px;
   top      : 453px;
   width    : 202px;
   height   : 25px;
}

/* input[type="checkbox"] {
	position			: absolute;
   -border-radius	: 4px;
	top				: 740px;
	left				: 258px;
   height			: 15px;
   width				: 16px;
   background		: #fff;
   border			: 1px solid #ccc;
} */


/* Hide the default checkbox */
input[type="radio"] {
    display: none;
}

/* Define the custom checkbox appearance */
.radio-label_Hopeless {
    position: absolute;
    cursor: pointer;
}
.radio-label_Hopeless:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 229px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Hopeless:before {
    background-color: #000; /* Black fill */
}

.radio-label_Mid_0 {
    position: absolute;
    cursor: pointer;
}
.radio-label_Mid_0:before {
    content: "";
    position: absolute;
    top: 649px;
    left: 269px;
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Mid_0:before {
    background-color: #000; /* Black fill */
}

.radio-label_Enraged {
    position: absolute;
    cursor: pointer;
}
.radio-label_Enraged:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 306px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Enraged:before {
    background-color: #000; /* Black fill */
}

.radio-label_Mid_1 {
    position: absolute;
    cursor: pointer;
}
.radio-label_Mid_1:before {
    content: "";
    position: absolute;
    top: 648px;
    left: 346px;
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Mid_1:before {
    background-color: #000; /* Black fill */
}

.radio-label_Nervous {
    position: absolute;
    cursor: pointer;
}
.radio-label_Nervous:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 383px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Nervous:before {
    background-color: #000; /* Black fill */
}

.radio-label_Mid_2 {
    position: absolute;
    cursor: pointer;
}
.radio-label_Mid_2:before {
    content: "";
    position: absolute;
    top: 648px;
    left: 423px;
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Mid_2:before {
    background-color: #000; /* Black fill */
}

.radio-label_Composed {
    position: absolute;
    cursor: pointer;
}
.radio-label_Composed:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 460px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Composed:before {
    background-color: #000; /* Black fill */
}

.radio-label_Mid_3 {
    position: absolute;
    cursor: pointer;
}
.radio-label_Mid_3:before {
    content: "";
    position: absolute;
    top: 648px;
    left: 500px;
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Mid_3:before {
    background-color: #000; /* Black fill */
}

.radio-label_Calm {
    position: absolute;
    cursor: pointer;
}
.radio-label_Calm:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 537px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Calm:before {
    background-color: #000; /* Black fill */
}

.radio-label_Mid_4 {
    position: absolute;
    cursor: pointer;
}
.radio-label_Mid_4:before {
    content: "";
    position: absolute;
    top: 648px;
    left: 577px;
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Mid_4:before {
    background-color: #000; /* Black fill */
}

.radio-label_Hopeful {
    position: absolute;
    cursor: pointer;
}
.radio-label_Hopeful:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 614px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Hopeful:before {
    background-color: #000; /* Black fill */
}

.radio-label_Mid_5 {
    position: absolute;
    cursor: pointer;
}
.radio-label_Mid_5:before {
    content: "";
    position: absolute;
    top: 648px;
    left: 654px;
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Mid_5:before {
    background-color: #000; /* Black fill */
}

.radio-label_Pleased {
    position: absolute;
    cursor: pointer;
}
.radio-label_Pleased:before {
    content: "";
    position: absolute;
    top: 642px;
    left: 691px;
    width: 14px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
   /*border: 2px solid #000;  Black border */
}
input[type="radio"]:checked + .radio-label_Pleased:before {
    background-color: #000; /* Black fill */
}






/*==============================================================================================================*/

input.Weapon_Dmg
{
	position		: absolute;
	Left			: 97px;
	top			: 480px;
	width			: 75px;
	text-align	: center;
	font-size	: 18px;
}

input.Equip_Head
{
   position 	: absolute;
   left     	: 97px;	/*50*/
   top      	: 167px; /*156*/
   width    	: 158px;
	text-align	: center;
	font-size	: 18px;
}

input.Equip_Torso
{
   position 	: absolute;
   left     	: 97px;	/*50*/
   top      	: 257px; /*156*/
   width    	: 158px;
	text-align	: center;
	font-size	: 18px;
}

input.Equip_Waist
{
   position 	: absolute;
   left     	: 97px;	/*50*/
   top      	: 347px; /*156*/
   width    	: 158px;
	text-align	: center;
	font-size	: 18px;
}

input.Equip_Back
{
   position 	: absolute;
   left     	: 496px;	/*50*/
   top      	: 373px; /*156*/
   width    	: 156px;
	text-align	: center;
	font-size	: 18px;
}

input.Backpack_Qua_00
{
   position 	: absolute;
   left     	: 500px;	/*50*/
   top      	: 150px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_00
{
   position 	: absolute;
   left     	: 530px;	/*50*/
   top      	: 150px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_01
{
   position 	: absolute;
   left     	: 500px;	/*50*/
   top      	: 181px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_01
{
   position 	: absolute;
   left     	: 530px;	/*50*/
   top      	: 181px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_02
{
   position 	: absolute;
   left     	: 500px;	/*50*/
   top      	: 211px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_02
{
   position 	: absolute;
   left     	: 530px;	/*50*/
   top      	: 211px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_03
{
   position 	: absolute;
   left     	: 500px;	/*50*/
   top      	: 242px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_03
{
   position 	: absolute;
   left     	: 530px;	/*50*/
   top      	: 242px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_04
{
   position 	: absolute;
   left     	: 500px;	/*50*/
   top      	: 273px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_04
{
   position 	: absolute;
   left     	: 530px;	/*50*/
   top      	: 273px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_10
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 150px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_10
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 150px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_11
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 181px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_11
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 181px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_12
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 211px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_12
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 211px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_13
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 242px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_13
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 242px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_14
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 273px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_14
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 273px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_20
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 150px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_20
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 150px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_21
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 181px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_21
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 181px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_22
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 211px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_22
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 211px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_23
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 242px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_23
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 242px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Backpack_Qua_24
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 273px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Backpack_Obj_24
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 273px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}





input.Pockets_Qua_00
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 336px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_00
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 336px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_01
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 367px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_01
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 367px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_02
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 398px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_02
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 398px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_03
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 429px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_03
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 429px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_04
{
   position 	: absolute;
   left     	: 709px;	/*50*/
   top      	: 459px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_04
{
   position 	: absolute;
   left     	: 739px;	/*50*/
   top      	: 459px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_10
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 336px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_10
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 336px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_11
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 367px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_11
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 367px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_12
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 398px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_12
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 398px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_13
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 429px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_13
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 429px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}

input.Pockets_Qua_14
{
   position 	: absolute;
   left     	: 918px;	/*50*/
   top      	: 459px; /*156*/
   width    	: 30px;
	text-align	: center;
	font-size	: 15px;
}
input.Pockets_Obj_14
{
   position 	: absolute;
   left     	: 948px;	/*50*/
   top      	: 459px; /*156*/
   width    	: 168px;
	text-align	: center;
	font-size	: 15px;
}